*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    height: 100vh;
    margin:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bfbfc1;
}
.container{
    background-color: #ffffff;
    width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 8px rgba(0, 0, 0,0.1);
}
.title{
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(59, 211, 206);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.input-container,
.checkbox-group,
.output-container{
    margin-bottom: 1rem;
}
.checkbox-group{
    display: flex;
    align-items: center;
}
.checkbox-group input{
    margin-right: 5px;
}
.input-container label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.input-container input{
    width: 100%;
    padding: 0.5rem 1rem;
}
.createBtn{
    background-color: #0076ff;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
}
.createBtn:hover{
    background-color: #004a9f;
}
.output-container{
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
}
.copybtn{
    background-color: rgb(17, 216, 17);
    border: none;
    padding: 0.5rem;
}
.output-container input{
    outline: none;
    flex: 1;
    padding: 0.5rem;
}
@media screen and (max-width:760px) {
    .container{
        width: 20rem;
    }   
}